body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.text-responsive {
  font-size: calc(100% + 1vw + 1vh);
}

.navbar-dark {
  background-color: #505050;
}

.nav{
  border-radius: 20px;
}

.nav-link{
  text-align: center;
}

.nav .active{
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
}

